<div id="list">
	<table>
		<tr>
			<td>Ruby on Rails</td>
			<td><%= image_tag('5-stars.png', :class => "starImg") %></td>
		</tr>
		<tr>
			<td>HTML5</td>
			<td><%= image_tag('5-stars.png', :class => "starImg")  %></td>
		</tr>
		<tr>
			<td>CSS/SCSS</td>
			<td><%= image_tag('5-stars.png', :class => "starImg") %></td>
		</tr>

		<tr>
			<td>Command Line</td>
			<td><%= image_tag('5-stars.png', :class => "starImg") %></td>
		</tr>
		<tr>
			<td>Git Repository</td>
			<td><%= image_tag('5-stars.png', :class => "starImg") %></td>
		</tr>
		<tr>
			<td>Sketch 3</td>
			<td><%= image_tag('4-stars.png', :class => "starImg") %></td>
		</tr>
	</table>
	<table class="rightTbl">
		<tr>
			<td>jQuery</td>
			<td><%= image_tag('4-stars.png', :class => "starImg") %></td>
		</tr>
		<tr>
			<td>Javascript</td>
			<td><%= image_tag('4-stars.png', :class => "starImg") %></td>
		</tr>
		<tr>
			<td>ActionCable</td>
			<td><%= image_tag('4-stars.png', :class => "starImg") %></td>
		</tr>
		<tr>
			<td>Bootstrap</td>
			<td><%= image_tag('4-stars.png', :class => "starImg") %></td>
		</tr>
		<tr>
			<td>Squarespace</td>
			<td><%= image_tag('3-stars.png', :class => "starImg") %></td>
		</tr>
		<tr>
			<td>Liquid</td>
			<td><%= image_tag('3-stars.png', :class => "starImg") %></td>
		</tr>
	</table>


</div>
