<div id="list">
	<table>
		<tr class="star">
			<td>Ruby on Rails</td>
			<td><%= image_tag('5stars.png', :class => "starImg") %></td>
		</tr>
		<tr class="star">
			<td>HTML5</td>
			<td><%= image_tag('5stars.png', :class => "starImg")  %></td>
		</tr>
		<tr class="star">
			<td>CSS/SCSS</td>
			<td><%= image_tag('5stars.png', :class => "starImg") %></td>
		</tr>
		
		<tr class="star">
			<td>Command Line</td>
			<td><%= image_tag('5stars.png', :class => "starImg") %></td>
		</tr>
		<tr class="star">
			<td>Git Repository</td>
			<td><%= image_tag('5stars.png', :class => "starImg") %></td>
		</tr>
		<tr class="star">
			<td>Sketch 3</td>
			<td><%= image_tag('4stars.png', :class => "starImg") %></td>
		</tr>
		<tr class="star">
			<td>jQuery</td>
			<td><%= image_tag('4stars.png', :class => "starImg") %></td>
		</tr>
		<tr class="star">
			<td>Javascript</td>
			<td><%= image_tag('4stars.png', :class => "starImg") %></td>
		</tr>
		
		
	</table>
	<table class="rightTbl">
		<tr class="star">
			<td>MySQL</td>
			<td><%= image_tag('4stars.png', :class => "starImg") %></td>
		</tr>
		<tr class="star">
			<td>JSON</td>
			<td><%= image_tag('4stars.png', :class => "starImg") %></td>
		</tr>
		<tr class="star">
			<td>Bootstrap</td>
			<td><%= image_tag('4stars.png', :class => "starImg") %></td>
		</tr>
		<tr class="star">
			<td>Liquid</td>
			<td><%= image_tag('3stars.png', :class => "starImg") %></td>
		</tr>
		<tr class="star">
			<td>XML</td>
			<td><%= image_tag('3stars.png', :class => "starImg") %></td>
		</tr>
		<tr class="star">
			<td>Angular</td>
			<td><%= image_tag('2stars.png', :class => "starImg") %></td>
		</tr>
		<tr class="star">
			<td>PHP</td>
			<td><%= image_tag('1star.png', :class => "starImg") %></td>
		</tr>
		<tr class="star">
			<td>Python</td>
			<td><%= image_tag('1star.png', :class => "starImg") %></td>
		</tr>
	</table>


</div>