<div id="adventures">
	<ul id = "imageGallery">
		<li><%= link_to href: "IMG_0086.jpg" do %>
			<%= image_tag("IMG_0086.jpg", alt: 'The Cistern, College of Charleston', class: "adventureImage") %><% end %>  </li>

		<li><%= link_to image_tag("IMG_0329.jpg", alt: 'St. John, USVI', class: "adventureImage") %> </li>
		<li><%= link_to image_tag("IMG_1090.jpg", alt: 'St. John, USVI', class: "adventureImage") %> </li>
		<li><%= link_to image_tag("IMG_1221.jpg", alt: 'St. John, USVI', class: "adventureImage") %> </li>




	<!-- </ul>
		<div id="filter">

			<h2>Filter Name: <label id="msg"></label></h2>
			<h2>Tag Name: <label id="tag"></label></h2>

			<ul id="filters">

			</ul>

		</div> -->
		
</div>