<div class="home">
	<!-- <nav class="right ">
		<div class="email"><%= mail_to "thomas@tfogg.com", "Thomas@tfogg.com"  %> </div>
	</nav> -->
	<div class="name_container">
		<h1 class="name"><%= link_to "Thomas Fogg", root_path %></h1>
		<div id="lower">
			<p class="description">Business Development - Marketing - Financial Optimization - Graphic Design - Custom Web App Development</p>
			
		</div>
	</div>
	<div class="arrow"></div>

</div>
<div id="about">
	<div class="content">
		<div class="left-column">
			<h4>About</h4>
		</div>
		<div class="center-column">
			<p>Vermont-born, I've been passionate about app development since leaving home four years ago. That path led me to the glory that is Ruby on Rails. I find satisfaction in solving problems, the bigger the better. I enjoy solving those problems faster by working with others.</p>
		</div>
		<div class="right-column">
			<p>Right column</p>
		</div>
	</div>
</div>

<div id="FilterFly">
	<div class="logo"><%= image_tag('ffLogo.png') %></div>
</div>
<div class="shopify">
	<div class="shopifyImg"><%= image_tag('shopify-partner.png') %></div>
</div>
<div id="cofc">
	<div class="cofcImg"><%= image_tag('CofClogo.png') %>
		<!-- <H1>COLLEGE of CHARLESTON</H1>
		<h3>Class of 2017</h3> -->
	</div>
</div>

<div id="skills">
	<p>Skills</p>
	<div id="list">
		<table>
			<tr>
				<td>HTML5</td>
				<td><%= image_tag('5stars.png') %></td>
			</tr>
			<tr>
				<td>CSS/SCSS</td>
				<td><%= image_tag('5stars.png') %></td>
			</tr>
			<tr>
				<td>Ruby on Rails</td>
				<td><%= image_tag('5stars.png') %></td>
			</tr>
			<tr>
				<td>jQuery</td>
				<td><%= image_tag('5stars.png') %></td>
			</tr>
			<tr>
				<td>Javascript</td>
				<td><%= image_tag('5stars.png') %></td>
			</tr>
			<tr>
				<td>Command Line</td>
				<td><%= image_tag('5stars.png') %></td>
			</tr>
			<tr>
				<td>Git Repository</td>
				<td><%= image_tag('5stars.png') %></td>
			</tr>
			<tr>
				<td>Sketch 3</td>
				<td><%= image_tag('5stars.png') %></td>
			</tr>
		</table>
		<table class="rightTbl">
			<tr>
				<td>MySQL</td>
				<td><%= image_tag('4stars.png') %></td>
			</tr>
			<tr>
				<td>JSON</td>
				<td><%= image_tag('4stars.png') %></td>
			</tr>
			<tr>
				<td>Bootstrap</td>
				<td><%= image_tag('4stars.png') %></td>
			</tr>
			<tr>
				<td>Liquid</td>
				<td><%= image_tag('4stars.png') %></td>
			</tr>
			<tr>
				<td>PHP</td>
				<td><%= image_tag('3stars.png') %></td>
			</tr>
			<tr>
				<td>Angular</td>
				<td><%= image_tag('3stars.png') %></td>
			</tr>
			<tr>
				<td>XML</td>
				<td><%= image_tag('2stars.png') %></td>
			</tr>
			<tr>
				<td>Python</td>
				<td><%= image_tag('1star.png') %></td>
			</tr>
		</table>
	

	</div>

</div>
<div id="contact">
	<h1>Contact</h1>

	

</div>














<!-- 
	<div class = "parapic">
		
	</div>
	<div class = "content">
		<h1>Welcome</h1> 
		<h1>To a little site of mine.</h1> 
		<h1>Built with <b> Ruby on Rails.</b></h1> 
	</div>
	<div class="box">
	
		
	</div>

	<div class="content">
		
		
	</div>
	<div class="filter">
	
		
	</div>

 -->