<div>
  <% flash.each do |key, value| %>
<!--     <div class="notice"> -->
      <a href="#" data-dismiss="alert">×</a>
      	<%= content_tag :div, value, class: "alert alert-info" %>
        <%= value %>
        <p><%= flash[:notice] unless flash[:notice].blank? %></p> 
		<p><%= flash[:error] unless flash[:error].blank? %></p>
<!--     </div> -->
  <% end %>
  
  <!-- |key, value|
  <div class="error" style="display: none;"> -->

</div>



<div class="home">
	<!-- <nav class="right ">
		<div class="email"><%= mail_to "thomas@tfogg.com", "Thomas@tfogg.com"  %> </div>
	</nav> -->
	<div class="name_container">
		<h1 class="name"><%= link_to "Thomas Fogg", root_path %></h1>
		<div id="lower">
			<p class="description">Web App Development - Graphic Design - Business Strategies - Marketing - Financial Optimization</p>
			
		</div>
	</div>
	
	<a href="#portfolio"><div class="arrow"></div></a>


</div>
<!-- <div id="about">
	<div class="content">

		<h1>About</h1>
			<div class="center-column">
				<p>During the past four years I have been earning my degree in business administration and finance at the College of Charleston. I began teaching myself how to program while attending highschool in Vermont. Since then I have grown fond of building web apps in Ruby on Rails. I have also become a master googler, as any self respecting deverloper should understand. My current project is a shopify app called Filter Fly. Filter Fly will allow online stores to better filter their products and by doing so, create a better experience for their customers. Filter Fly will be sold on the Shopify App store. Feel free to <%# link_to "contact", root_path( :anchor => "contact") %> me for more info.</p>
			</div>

	</div>
</div> -->

		<!-- <div class="right-column">
			<p>Download Resume</p>
			<p>Print Resume</p>
		</div> -->
<div id="portfolio">
	<div id="FilterFly">
		<div class="logo"><%= image_tag('ffLogo.png') %></div>
	</div>
	<div class="shopify">
		<div class="shopifyImg"><%= image_tag('shopify-partner.png') %></div>
	</div>
	<div id="cofc">
		<div class="cofcImg"><%= image_tag('CofClogo.png') %>
		</div>
	</div>
</div>

<div id="skills">
	<h1>Skills</h1>
	<%= render 'pages/skillTable' %>
	<div class="github">
		<%= link_to "https://github.com/tfogg2/Tfogg", target: :_blank do %>
	  		<%= image_tag('tfoggGithub.png') %>     
		<% end %>
	</div>  
</div>

<div id="contact">
	<h1>Say Hello</h1>

	<%= render 'contacts/form' %>

</div>

<footer id="footer">
	<div class="email-link"><%= mail_to "Thomas@tfogg.com" %></div>
	<div class="instagram">
		<%= link_to "https://www.instagram.com/tfogg2/", target: :_blank do %>
			<%= image_tag('insta.png') %>
		<%- end %>
	</div>
</footer>













<!-- 
	<div class = "parapic">
		
	</div>
	<div class = "content">
		<h1>Welcome</h1> 
		<h1>To a little site of mine.</h1> 
		<h1>Built with <b> Ruby on Rails.</b></h1> 
	</div>
	<div class="box">
	
		
	</div>

	<div class="content">
		
		
	</div>
	<div class="filter">
	
		
	</div>

 -->