<!DOCTYPE html>
<html>
<head>
  <title>Tfogg</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  
	  <link href="https://fonts.googleapis.com/css?family=Lato:100i,400" rel="stylesheet">
	  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300i,600i" rel="stylesheet">


  <%= csrf_meta_tags %>
</head>
<body>

		</nav> 
	<div id="top-bar">
		<ul id="top-menu">
				<a href="#about"><li class="menu-item"><%= image_tag("about.png") %></li></a>
				<a href="#portfolio"><li class="menu-item"><%= image_tag("portfolio.png") %></li></a>
				<a href="#skills"><li class="menu-item"><%= image_tag("resume.png") %></li></a>
				<a href="#contact"><li class="menu-item"><%= image_tag("contact.png") %></li></a>
				
		</ul>
	</div>
		


	<%= yield %>


	<script   src="http://code.jquery.com/jquery-1.12.4.js"   integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="   crossorigin="anonymous"></script>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>

</body>
</html>
